POSTGRES_ADMIN_PASSWORD=
SIGNER_DB_PASSWORD=
SIGNER_WRAP_KEY=
STELLAR_ISSUER=
STELLAR_CONTRACT_ID=
JWT_ISSUER=
JWT_AUDIENCE=
JWT_SIGNING_KEY=
JWT_ALLOWED_CLIENT_ID=remittances-ms
STELLAR_MAX_AMOUNT=10000
STELLAR_MAX_REMAINING_SECONDS=3600
